GEMINI_API_KEY=sua_chave_do_google_ai_studio_aqui
OMNIROUTE_API_KEY=sua_chave_do_omniroute_aqui
ADMIN_TOKEN=seu_token_de_seguranca_aqui
ALLOWED_ORIGINS="*"
AUTHORIZED_IDS="777,visitante1,visitante2,bot_mestre"
